# Importing packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data= pd.read_csv('bank-full.csv')

In [3]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
data.shape

(45211, 17)

# Hypothesis testing

1)

null hypothesis - job would have no effect on outcome y.

alternate hypio. - job would have effect on outcome y.

In [5]:
from scipy import stats as st

In [6]:
st.chi2_contingency(pd.crosstab(data.y,data.job))

(836.10548774719655,
 3.3371219449355017e-172,
 11,
 array([[ 4566.0715755 ,  8593.5038818 ,  1313.04359559,  1094.93884232,
          8351.55771825,  1999.14640242,  1394.28099356,  3668.04512176,
           828.2682533 ,  6708.26643958,  1150.56879963,   254.30837628],
        [  604.9284245 ,  1138.4961182 ,   173.95640441,   145.06115768,
          1106.44228175,   264.85359758,   184.71900644,   485.95487824,
           109.7317467 ,   888.73356042,   152.43120037,    33.69162372]]))

P-value<0.05, hence job does have effect on outcome Y.

2)

null hypothesis - balance would not have effect on outcome Y

aleternative hypo- balance would have effect on outcome Y

In [7]:
no= data[data.y=='no']
yes = data[data.y=='yes']

In [8]:
st.f_oneway(yes.balance,no.balance)

F_onewayResult(statistic=126.57227551143087, pvalue=2.5211136918594683e-29)

P-value<0.05, hence balance does have effect on outcome Y.

# checking for missing values

In [9]:
data.isnull().sum().sort_values(ascending=False)

y            0
loan         0
job          0
marital      0
education    0
default      0
balance      0
housing      0
contact      0
poutcome     0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
age          0
dtype: int64

no missing values in dataset

# Handling Categorical and Numerical data

In [10]:
data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [11]:
catcols= data.select_dtypes(include=['object'])

In [12]:
catcols.head()

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,management,married,tertiary,no,yes,no,unknown,may,unknown,no
1,technician,single,secondary,no,yes,no,unknown,may,unknown,no
2,entrepreneur,married,secondary,no,yes,yes,unknown,may,unknown,no
3,blue-collar,married,unknown,no,yes,no,unknown,may,unknown,no
4,unknown,single,unknown,no,no,no,unknown,may,unknown,no

In [13]:
numcols= data.select_dtypes(include=[np.number])
numcols.head()

   age  balance  day  duration  campaign  pdays  previous
0   58     2143    5       261         1     -1         0
1   44       29    5       151         1     -1         0
2   33        2    5        76         1     -1         0
3   47     1506    5        92         1     -1         0
4   33        1    5       198         1     -1         0

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le= LabelEncoder()

In [16]:
catcols1= catcols.apply(le.fit_transform)
catcols1.head()

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,4,1,2,0,1,0,2,8,3,0
1,9,2,1,0,1,0,2,8,3,0
2,2,1,1,0,1,1,2,8,3,0
3,1,1,3,0,1,0,2,8,3,0
4,11,2,3,0,0,0,2,8,3,0

In [17]:
dataf= pd.concat([numcols,catcols1],axis=1)
dataf.head()

,age,balance,day,duration,campaign,pdays,previous,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,58,2143,5,261,1,-1,0,4,1,2,0,1,0,2,8,3,0
1,44,29,5,151,1,-1,0,9,2,1,0,1,0,2,8,3,0
2,33,2,5,76,1,-1,0,2,1,1,0,1,1,2,8,3,0
3,47,1506,5,92,1,-1,0,1,1,3,0,1,0,2,8,3,0
4,33,1,5,198,1,-1,0,11,2,3,0,0,0,2,8,3,0

In [18]:
y= dataf.y
x=dataf.drop('y',axis=1)
x.head()

,age,balance,day,duration,campaign,pdays,previous,job,marital,education,default,housing,loan,contact,month,poutcome
0,58,2143,5,261,1,-1,0,4,1,2,0,1,0,2,8,3
1,44,29,5,151,1,-1,0,9,2,1,0,1,0,2,8,3
2,33,2,5,76,1,-1,0,2,1,1,0,1,1,2,8,3
3,47,1506,5,92,1,-1,0,1,1,3,0,1,0,2,8,3
4,33,1,5,198,1,-1,0,11,2,3,0,0,0,2,8,3

# Logistic Regression Model

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
lr= LogisticRegression()

In [21]:
lrmodel= lr.fit(x,y)

In [22]:
lrmodel.score(x,y)

0.89055760766185221

In [23]:
lrPredict=lrmodel.predict(x)

In [24]:
pd.crosstab(dataf.y,lrPredict)

col_0      0     1
y
0      39131   791
1       4157  1132

In [59]:
print ('accuracy= ' + str((39131+1132)/(39131+791+4157+1132)))

accuracy= 0.8905576076618522

# Decision Tree

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
de= DecisionTreeClassifier()

In [27]:
deModel= de.fit(x,y)

In [28]:
deModel.score(x,y)

1.0

In [29]:
dePredict=deModel.predict(x)

In [30]:
pd.crosstab(dataf.y,dePredict)

col_0      0     1
y
0      39922     0
1          0  5289

In [63]:
print ('accuracy= ' + str((39922+5289)/(39922+5289)))

accuracy= 1.0

# Random forest classifier

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
rf= RandomForestClassifier(n_estimators=1000)

In [33]:
reModel=rf.fit(x,y)

In [34]:
reModel.score(x,y)

1.0

In [35]:
rfPredict= reModel.predict(x)

In [36]:
pd.crosstab(dataf.y,rfPredict)

col_0      0     1
y
0      39922     0
1          0  5289

In [64]:
print ('accuracy= ' + str((39922+5289)/(39922+5289)))

accuracy= 1.0

# Gradient boosting classifier

In [37]:
from sklearn.ensemble import GradientBoostingClassifier

In [38]:
gd= GradientBoostingClassifier()

In [39]:
gdModel=gd.fit(x,y)

In [40]:
gdModel.score(x,y)

0.90880537922187077

In [41]:
gdPredict= gdModel.predict(x)

In [42]:
pd.crosstab(dataf.y,gdPredict)

col_0      0     1
y
0      38916  1006
1       3117  2172

In [65]:
print ('accuracy= ' + str((38916+2172)/(38916+2172+1006+3117)))

accuracy= 0.9088053792218708

# neural network

In [43]:
from sklearn.neural_network import MLPClassifier

In [44]:
ml=MLPClassifier(activation='relu', hidden_layer_sizes=(10,))

In [45]:
mlModel= ml.fit(x,y)

In [46]:
mlModel.score(x,y)

0.88785914932206766

In [47]:
mlPredict=mlModel.predict(x)

In [48]:
pd.crosstab(dataf.y,mlPredict)

col_0      0    1
y
0      39297  625
1       4445  844

In [66]:
print ('accuracy= ' + str((39297+844)/(39297+844+4445+625)))

accuracy= 0.8878591493220677